body {
    height:auto; 
    width:auto;
    left: 33%; 
	top: 10%;
    position: absolute;
    background-image: url(https://www.eacprime.com/wp-content/uploads/2022/03/intercambio-o-que-e.png);
}

h1 {
    text-align: center;
}

form {
    border: 8px solid rgb(126, 4, 4);
    border-radius: 1em;
    justify-content: center;
    background-color: bisque;
    padding: 15px 15px 15px 15px;
}

label {
	display: block;
    text-decoration: solid;	
}

#dateBirth {
    width: 155px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 5px;
}

input {
    width: 300px;
    height: 20px;
}

#send:hover {
    background-color:rgb(64, 64, 201);
}

